# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Vector DB
chroma_db/

# Local data files
data/*.pdf
!data/demo.pdf


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
